@{
    ViewBag.Title = "About";
}
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Somos Majestic Corporation</h1>
        <p class="lead">
            Empresa especializada en la importación y distribución de productos tecnológicos,
            destacándose en la venta de relojes inteligentes y audífonos inalámbricos.
            Fundada en septiembre de 2020 en el distrito de Jesús María, Lima,
            la organización surgió con el objetivo de ofrecer soluciones tecnológicas accesibles y de calidad provenientes
            de China, resolviendo la limitada oferta en el mercado nacional.
        </p>
        <p>
            <a href="https://maps.app.goo.gl/hUviEVWtvY4xEtM78" class="btn btn-primary">
                <i class="bi bi-pin-map"></i>
                Vísitanos
            </a>
        </p>
    </section>
    <section class="row">
        <h3>Misión</h3>
        <p class="lead">
            Estamos enfocados
            en ofrecer artículos innovadores, modernos y de alta calidad a precios accesibles,
            satisfaciendo las necesidades de las pequeñas y medianas empresas y los
            requerimientos del cambiante mercado nacional. Desde nuestra fundación en 2020, estamos comprometidos a brindar un servicio
            de atención de pedidos ágil, confiable y personalizado, que facilite el acceso a la
            tecnología moderna, ofrezca una vía de comunicación consistente durante el
            proceso de compra y contribuya con el desarrollo continuo de los negocios de sus
            clientes.
        </p>
    </section>
    <section class="row">
        <h3>Visión</h3>
        <p class="lead">
            Aspiramos ser una empresa de excelencia, confiable
            y centrada en el cliente, reconocida por la calidad y los precios competitivos de
            sus productos y el análisis de las condiciones del mercado nacional para generar
            mejores oportunidades de comercialización y distribución de artículos
            tecnológicos para las pequeñas y medianas empresas. Del mismo modo, deseamos expandir los centros de operaciones
            en diferentes zonas a nivel nacional, ofreciendo agilidad e innovación en la
            adquisición de productos internacionales y garantizando la transparencia y la
            honestidad en sus acuerdos comerciales.
        </p>
    </section>
</main>